* {
    color: #CAE7D6;
    background-color: transparent;
    font-family: 'Roboto', sans-serif, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
    /* font-weight: 400; */
    list-style: none;
    text-decoration: none;
    text-shadow: 0px, 0px, 0px, 0px;
    text-align: justify;
    
    
    /* border: solid 1px yellow;   */
    /* border: none; */
/*     
    margin: 0;
    padding: 0;
    outline: 0; */
    
    box-sizing: border-box; /* siempre va en todos los proyectos, evita que el padding haga que crezca la caja */ 
    
}

body {
    width: auto;
    height: auto;
    background:
     linear-gradient(to bottom right,#07070D 0%, #D9B23D 4.1%, #07070D 13.72%, #EC3535 295.23%, #80BCE7 10%, #EC3535 20%, #07070D 60%) bottom right,
     linear-gradient(to bottom left, #07070D 0%, #D9B23D 4.1%, #07070D 13.72%, #EC3535 295.23%, #80BCE7 10%, #EC3535 20%, #07070D 60%) bottom left,
     linear-gradient(to top left,    #07070D 0%, #D9B23D 4.1%, #07070D 13.72%, #EC3535 295.23%, #80BCE7 10%, #EC3535 20%, #07070D 60%) top left,
     linear-gradient(to top right,   #07070D 0%, #D9B23D 4.1%, #07070D 13.72%, #EC3535 295.23%, #80BCE7 10%, #EC3535 20%, #07070D 60%) top right;
    background-size:50.01% 50.01%;
    background-repeat:no-repeat;
    margin: 20px;
    padding: 20px;
}

.background{
    width: 100%;
    height: 100%;
    position:fixed;
    z-index: -100;
    top: 0;
    left: 0;
}

/* header */

.header {
    padding: 16px;
}

.Vectoricon {
    transition: all 0.714s ease-in-out;
}

.Vectoricon:hover {
    transform: scale(3);
}


.header .nav {
    display: flex;
    justify-content: space-evenly;
    gap: 264pt;
    margin: auto;
}

.header .nav .headerlist {
    display: flex;
    align-items: center;
    gap: 45pt;
}

.headerlist a { /* Target link elements within the list */
    transition: color 0.13s ease-in-out; /* Smooth transition for hover effect */
    transform: rotatey(20px);
  }
  
  .headerlist a:hover { /* Hover effect for links */
    color: #D9B23D; /* Change text color on hover */
    text-decoration: underline;
    text-shadow: 0 0 4rem;
}

.contact {
/* background: linear-gradient(#EC3535 65%, #D9B23D 100%); */
background: radial-gradient(#D9B23D 55%, #EC3535 95%); 
color: #CAE7D6; 
border-radius: 10px;
border: solid 1px #D9B23D;
transition: all 0.714s ease-in-out
}

.contact:hover {
    animation: linearGradient1 2.3s ease-in-out reverse infinite;
    transform: scale(1.25);
    box-shadow: 0 0 1rem;
    animation: gradient 0.05s ease-in reverse infinite;
    color: #EC3535;
}


@keyframes linearGradient1 {
    0% {
        background-position: -10px 0;
    }
    100% {
        background-position: -200% 90%;
    }
}


.button2 {

background: radial-gradient(#D9B23D 55%, #EC3535 95%); 
color: #CAE7D6; 
border-radius: 10px;
padding: 15px 30px;
margin: 16px 0px 16px 40%;;
border: solid 1px #D9B23D;
transition: all 0.17s ease-in-out

}

.button2:hover {
    animation: linearGradient1 2.3s ease-in-out reverse infinite;
    transform: scale(1.25);
    box-shadow: 0 0 1rem;
    animation: gradient 0.05s ease-in reverse infinite;
    color: #EC3535;
}

@keyframes gradient {
  0% {
    background-position: -750px 0;
  }
  360% {
    background-position: 550% 0;
  }
}

/*primera seccion*/

.divsec1 {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.h1 {
    display: flex;
    font-size: 3em;
    font-weight: bold;
    margin: 1em 0;
    transition: all 1.89s ease-in-out;
    color: #ec3535cf;
    background-color: #d9b23d00;
    
}

h1:hover {
    transition: 0.4s ease-in;
    transform: scaleX(0.97) scaleX(0.97);
}

.Vrimg {
    border-radius: 50px 20px 50px 20px;
    margin-left: 150px;
     
    transition: 0.4s ease-in;
    transform: scale(1.1);
}

.Vrimg:hover {
    transform: scaleX(1.1);
    animation: 0.003s ease-out;
}

.divsec1-2 {
    margin: 10px 30px 10px 20px;
    justify-content: space-evenly;
    align-content: center; 
}

/* segunda seccion */

.divsec2 {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

/* cuarta seccion */

.Divsec4 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 7em;
}

.zombiezoom:hover {
    transition: all 1.4s ease-in-out;
    transform: scaleY(1.2);
    transform: scaleX(1.6);
} 

.csimg:hover {
    transition: all 1.34s ease-in-out;
    transform: scaleX(0.26);
}


.battleimg:hover {
    transition: all 0.74s ease-in;
    transform: scaleY(-1);
}


.robotimg:hover {
    transition: all 1.14s ease-out;
    transform: scaleX(1.1) scaleY(1.1);
}


.button3 {
    background: radial-gradient(#D9B23D 55%, #EC3535 95%); 
    color: #EBF2F2;
    padding: 10px 20px;
    border-radius: 15px;
    transition: all 0.174s ease-in-out;
    border: solid 1px #EC3535;
    text-align: center;
    }

   .button3:hover {animation: gradient 0.03s ease-out reverse infinite;
    color: #EC3535;
}

@keyframes gradient {
  0% {
    background-position: -750px 0;
  }
  360% {
    background-position: 550% 0;
  }
}

    .button3:hover {
        transform: scale(1.1);
        box-shadow: 0 0 1.13rem;
    }


    /* form & footer*/

.weekly-up {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    margin: 10px;
}

.form2 {
    font-style: oblique;
}

.footer {
    background-image: url(/assets/IMG/Footersquare.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
    background-size: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.footervector {
    display: flex;
    align-items:first baseline;
    flex-direction: column;
    transition: all 0.1s ease-in-out;
    text-align: center;
    }

.footervector:hover {
        transform: scale(1.1);
    }


.footericons {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease-in-out;
    
}

.footericons:hover {
    transform: scale(1.4);
}

.footerlist {
    margin: 0px 180px 0 0;
    padding: 100px;
    transition: all 0.1s ease-in-out;
}

.footerlist:hover {
    transform: scale(1.2);
}

.footerlist a:hover { /* Hover effect for links */
    color: #D9B23D;
    }